/*****************************************************************
Site Name: Solarity
Author: Ben Beekman

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

*****************************************************************/

/********************
GENERAL STYLES
********************/

body {
	background-color: rgb(43, 48, 59);
	color: $text-grey;
	font-family: $droidsans;
	font-size: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

#searchsubmit {
	font-size: 14px;
}
/*******************
WORDPRESS BODY CLASSES
style a page via class
*******************/
.home .footer {
	// color: rgb(248, 249, 250);
	// bottom: 40px;
	// position: absolute;
	// text-align: center;
	// width: 100%;
	// background-color: black(.25);
	// padding-bottom: .8em;
	#inner-footer {
		display: none;
		visibility: hidden;
	}
}



// for sites that are read right to left (i.e. hebrew)


// home page


// blog template page


// archive page


// date archive page


// replace the number to the corresponding page number


// search page


// search result page


// no results search page


// individual paged search (i.e. body.search-paged-3)


// 404 page


// single post page


// individual post page by id (i.e. body.postid-73)


// individual paged single (i.e. body.single-paged-3)


// attatchment page


// individual attatchment page (i.e. body.attachmentid-763)


// style mime type pages


// author page


// user nicename (i.e. body.author-samueladams)


// paged author archives (i.e. body.author-paged-4) for page 4


// category page


// individual category page (i.e. body.category-6)


// replace the number to the corresponding page number


// tag page


// individual tag page (i.e. body.tag-news)


// replace the number to the corresponding page number


// custom page template page


// individual page template (i.e. body.page-template-contact-php


// replace the number to the corresponding page number


// parent page template


// child page template


// replace the number to the corresponding page number


// if user is logged in


// paged items like search results or archives


// individual paged (i.e. body.paged-3)

/********************
LAYOUT & GRID STYLES
********************/
.wrap {
	margin: 0 auto;
	width: 96%;
}

/********************
LINK STYLES
********************/
a,
a:visited {
	color: $link-color;
	text-decoration: none;

	// on hover
	&:hover,
	&:focus {
		color: $link-hover;
		text-decoration: underline;
	}
	// mobile tap color
	&:link {
		//  this highlights links on iPhones/iPads. so it basically works like the: hover selector for mobile devices.
		-webkit-tap-highlight-color: rgba(0, 0, 0, .3);
	}
}

/*****************************************************************
H1, H2, H3, H4, H5 STYLES
*****************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	font-weight: 500;
	text-rendering: optimizelegibility;
	// removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1,
.h1 {
	font-size: 2.5em;
	line-height: 1.333em;
	margin: .5rem 0;
}

h2,
.h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin: 0 0 .5rem;
}

h3,
.h3 {
	font-size: 1.125em;
}

h4,
.h4 {
	font-size: 1.1em;
	font-weight: 400;
	line-height: 1.1;
	text-transform: uppercase;
}

h5,
.h5 {
	font-size: .846em;
	letter-spacing: 2px;
	line-height: 2.09em;
	text-transform: uppercase;
}

/********************
HEADER STYLES
********************/
.slogan {
	color: black(.6);
}

header.header {
	background-color: black(1);
}

.header {
	background-color: transparent;
	transition: All 1s ease;

	h1 {
		margin: 0;
		padding: 0;
	}
}



#logo {
	font-size: 2rem;
	margin: .25rem 0 0 1.5rem;

	a {
		color: darken($white, 10%);
		text-shadow: 0 0 1px $black;

		&:hover,
		&:focus {
			color: $white;
			text-shadow: 0 0 0 $black;
		}
	}
}

/********************
NAVIGATION STYLES
********************/
.logo-wrap {
	margin: 0 .5rem 0 0;
	padding: 0;
}

nav {
	.top-nav {
		font-size: 1.4rem;
		line-height: .8;
		margin-top: 0;
		padding-top: 0;

		li {
			a {
				padding-top: 1.2rem;
			}
		}
	}
}

.tel {
	display: inline;
}

footer .nav {
	ul {
		overflow: auto;
		text-align: center;

		li {
			display: inline-block;
			float: none;
			position: relative;

			a {
				color: $light-gray;
			}
		}
	}
}

/********************
POSTS & CONTENT STYLES
********************/
#container article {
	margin: 0;
	padding: 1rem 0;
}

.gallery-item img {
	height: auto;
}

// end .hentry

.single-title,
.page-title,
.entry-title {
	margin: 0;
}

// post meta
.byline {
	color: $meta-gray;
	font-style: italic;
	margin: 0;
}

// entry content
article {

	h1 {
		margin: 0;
		padding: 0 0 .75rem 5px;
	}

	h2 {
		padding-left: 5px;
	}

	p {
		-moz-hyphens: none;
		hyphens: none;
		margin: 0 0 1.5em;
		word-wrap: normal;
	}

	ol {
		list-style-position: inside;
		list-style-type: decimal;
	}

	ul {
		list-style-position: inside;
		list-style-type: disc;
	}

	header {
		padding: 1.5em 0;
	}

	footer {
		padding: 1.5em;

		p {
			margin: 0;
		}
	}

	table {
		border: 1px solid black(.3);
		margin-bottom: 1.5em;
		width: 100%;

		caption {
			color: $meta-gray;
			font-size: .75em;
			letter-spacing: 1px;
			margin: 0 0 7px;
			text-transform: uppercase;
		}
	}

	tr {
		border-bottom: 1px solid black(.4);

		&:nth-child(even) {
			background-color: black(.225);
		}

		&:nth-child(odd) {
			background-color: black(.125);
		}
	}

	td {
		border-right: 1px solid black(.3);
		padding: 7px;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: black(.25);
		border-bottom: 1px solid solid black(.4);
		border-right: 1px solid black(.4);

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		border-left: 3px solid $blue;
		color: $meta-gray;
		font-style: italic;
		margin: 0 0 1.5em .75em;
		padding: 0 0 0 .75em;
	}

	dd {
		color: $gray;
		font-size: .9em;
		margin-bottom: 1.5em;
		margin-left: 0;
	}

	img {
		height: auto;
		margin: 0;
		width: 100%;
	}
	//
	/* image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up. */

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		height: auto;
		max-width: 100%;
	}

	pre {
		background: $black;
		border-radius: 3px;
		color: $light-gray;
		font-size: .9em;
		margin: 0 0 1.5em;
		padding: 1.5em;
	}
}

// end .entry-content

.wp-caption {
	max-width: 100%;
	padding: 5px;

	// images inside wp-caption
	img {
		margin-bottom: 0;
		max-width: 100%;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: .85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

// end .wp-caption

// the tag output
.tags {
	margin: 0;
}

/*****************************************************************
PAGE NAVI STYLES
*****************************************************************/
.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}

.pagination {
	text-align: center;

	ul {
		background-color: black(.2);
		border-radius: 3px;
		clear: both;
		display: inline-block;
		overflow: auto;
		padding: 0;
		white-space: nowrap;
	}

	li {
		border-right: 1px solid $gray;
		display: inline;
		float: left;
		margin: 0;
		overflow: hidden;
		padding: 0;
	}

	a,
	span {
		color: $blue;
		display: block;
		font-size: 1em;
		font-weight: normal;
		line-height: 1em;
		margin: 0;
		min-width: 1em;
		padding: .75em;
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: $blue;
			color: $white;
		}
	}

	.current {
		color: $text-color;
		cursor: default;

		&:hover,
		&:focus {
			background-color: $white;
			color: $text-color;
		}
	}
}

// end .solarity_

//page_navi

.wp-prev-next {
	.prev-link {
		float: left;
	}

	.next-link {
		float: right;
	}
}

// end .wp-prev-next

/********************
SIDEBARS & ASIDES
********************/
.sidebar {
	padding: 20px .5rem 0 1rem;

	p {
		-moz-hyphens: none;
		hyphens: none;
		padding-right: 1rem;
		word-wrap: normal;
	}

	ul {
		list-style-type: none;
	}

	.locations {
		ul {
			line-height: 1.2;
			margin: 0;
			padding: 0;
		}

		h3 {
			font-variant: small-caps;
			margin: 0;
			padding: 0;
		}
	}

	textarea,
	input,
	select,
	input[type='search'] {
		border: 0 none;
		border-radius: 3px;
		box-shadow: none;
		color: rgb(92, 107, 128);
		display: inline-block;
		float: left;
		font-size: 1em;
		height: 1.3rem;
		line-height: 1rem;
		margin-bottom: 14px;
		padding: 0 2px !important;
		top: .4em;
		vertical-align: middle;
		width: 120px;
	}

	button {
		float: left;
		position: relative;
		width: 70px;
	}

	form {
		width: 90%;
	}

	.cat-item a {
		color: darken($gray, 25%);
		font-weight: normal;
	}

	.current-cat > a {
		color: $white;
		font-weight: 700;
	}

	.children {
		padding-left: 1.5em;
	}
} //end sidebar

label {
	display: none;
	float: left;
	margin: 0 .5rem 0 0;
}



.widget {
	ul {
		li {
				// deep nesting
			}
		}
	}

.no-widgets {
	// border: 1px solid $border-color;
	border-radius: 2px;
	margin-bottom: 1.5em;
	// background-color: $white;
	padding: 1.5em;
	text-align: center;
}

/********************
FOOTER STYLES
********************/
.footer {
	background-color: black(.3);
	clear: both;
	color: $light-gray;
}



// end .footer-links

.copyright {
	text-align: center;
}

//gallery acf additions
//location map
.acf-map {
	border: $meta-gray solid 2px;
	height: 220px;
	margin: 0 0 1rem;
	max-height: 80%;
	max-width: 100%;
	width: 100%;
}

.gm-style .gm-style-iw {
	color: $text-color;
	font-size: 13px;
	font-weight: 300;
}

.gallery {
	clear: both;
}

.ghostbox {
	background: white(.15);
	float: right;
	margin: 0 0 .25rem 1rem;
	padding: 0 .5rem .25rem;
}

.archive-title {
	padding: 1.5rem 0 .75rem;
}

//gallery plugin styles start here

#supersized {
	margin: 0;
}


#imageData #caption {
	color: $text-color;
	font-size: 1.4rem;
	line-height: 1.5rem;
	margin-top: .5rem;
}

#imageData #numberDisplay {
	color: $meta-gray;
	font-size: 1rem;
	margin-top: .5rem;
	padding-bottom: 0;
}

img.alignleft {
	margin-right: 1rem;
}

article nav ul,
article .nav ul {
	list-style-type: none;
}

.player .video-wrapper {
	display: inline-block;
	position: relative !important;
	text-align: center;
	width: 100%;
}

.aligncenter {
	text-align: center;
}

header h1,
header .deck {
	margin: 0;
}

header .deck {
	padding-top: 10px;
}

.featured-block {
	background: $white .2;
	padding: 0;
	text-align: left;
}

.gallery-caption {
	padding: 0 2rem;
	text-align: center;
}

.main-content header {
	margin-top: 1rem;
}

.entry-content {
	margin-top: 20px;
}
